.box{
    background-color: rgb(184, 15, 15);
    width: 200px;
    height: 300px;
    border: solid 2px red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    box-shadow: 5px 5px 18px 5px #888888
}

.box:hover{
    background-color: rgb(174, 5, 5);
    cursor: pointer;
    box-shadow: 5px 5px 18px 10px #777777
}

.correctBox{
    background-color: rgb(184, 15, 15);
    width: 200px;
    height: 300px;
    border: solid 2px red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    box-shadow: 5px 5px 18px 5px #888888
}

.correctBox:hover{
    background-color: rgb(174, 5, 5);
    cursor: pointer;
    box-shadow: 5px 5px 18px 10px #777777
}

#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

img{
    height: 100px;
}